{% extends 'base.html' %}
{% block content %}


<h2 class='index_title'>Item Categories</h2>
<div class='flash-mess'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div>
          {% for message in messages %}
            <div><strong>{{ message }}</strong></div>
          {% endfor %}
          </div>
      {% endif %}
      {% endwith %}
  </div>
<div class='index_list'>
      {% for i in categories %}

      <a href="{{url_for('storeFront')}}" class='list_item'>{{ i.name }}</a>
    <br><br>

      {% endfor %}
</div>
<div class='footer'>
    <a href="">Create New Category</a>
</div>
{% endblock %}
