{% extends 'base.html' %}
{% block content %}
    <div class='header'>
      <h1 class='menu_name'>{{ category.name }}</h1>
      <a href="{{url_for('storeFront')}}" class='home_link'><h3>Return Home</h3></a>
    </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
          {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
          {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
    <hr>
      {% for i in menu_items %}
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="i.picture" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Middle aligned media</h4>
        </div>
      </div>

      <div class='item_name'>{{ i.name }}</div>
    <br>

      {{ i. description }}
    <br>

      {{ i.price }}
    <br><br>
      <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Edit</a>
    <br><br>
      <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Delete</a>
    <br><br><hr>

      {% endfor %}
    <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Create New Item</a>
    <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Burn this bitch down!</a>
{% endblock %}
