{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="marquis">Welcome<small> to the market place</small></h1>
  </div>
</div>
<div class="container">
  <div class="catg-list">
    <div class="col-md-4">
      <h2 class='index_title'>Item Categories</h2>
        <div class='index_list'>
          {% for i in categories %}
            <a href="{{url_for('itemList', category_id = i.id)}}" class='list_item'>{{ i.name }}</a>
            <br><br><br>
          {% endfor %}
      </div>
        {% if 'username' in session %}
          <ul class="nav nav-pills">
            <li role="presentation" class="active">
              <a href="{{url_for('newCategory')}}">Create Category
              </a></li>
          </ul>
        {% endif %}
    </div>
  </div>
  <div class="front-banner">
    <div class="col-md-8">
      <img src="/static/img/Minoan.png" class="banner-pic" alt="three Minoan women">
    </div>
  </div>
</div>
{% endblock %}
