{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2 class="form-title">New Item</h2>
  <form action="{{url_for('newItem', category_id=category_id)}}" method = 'POST'>
    <p class="input-title">Name:</p>
      <input type='text' size='30' name='name'>
      <br>
    <p class="input-title">Description:</p>
      <input type='text' size='100' name='description'>
      <br>
    <p class="input-title">Price:</p>
       <input type='text' size='30' name='price'>
       <br><br>
    <p class="input-title">Picture URL:</p>
       <input type='text' size='100' name='picture'>
       <br><br>
       <input type='submit' value='Create'>
  </form>
</div>
{% endblock %}
